@import 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css';

/* --- General --- */

html,
body,
#root {
	height: 100%;
	font-family: 'Muli', sans-serif;
}

hr {
	margin-top: 0;
}

/* --- Bulma Overrides --- */
.columns {
	height: 100%;
	position: relative;
}

.box {
	background-color: white;
	border-radius: 0;
	padding: 1.25rem;
	transition: all 0.2s ease;
}

.box:hover {
	background-color: #f3f3f3;
}

.media-content hr {
	background-color: #cecece;
	margin-top: 0.3rem;
	margin-bottom: 0.5rem;
}

.media-content > small {
	display: block;
	text-align: center;
	color: grey;
}

.media-right {
	color: #acacac;
}

.is-fullheight {
	height: 100%;
}

/* --- Custom --- */
.loader-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.loader {
	height: 3rem;
	width: 3rem;
}

.sidebar-container {
	background-color: #0c0e0f;
	overflow-y: scroll;
	max-width: 22rem;
}

.sidebar-container {
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}
.sidebar-container::-webkit-scrollbar {
	display: none;
}

.dropzone {
	transition: all 0.1s ease;
	width: 100%;
	color: white;
	text-align: center;
	padding: 1rem;
	padding-bottom: 1.5rem;
	cursor: pointer;
}

.dropping {
	background-color: #64cd6d;
}

.trip-container {
	padding: 1rem;
	padding-top: 0;
}

.clear-trips {
	position: absolute;
	bottom: 1rem;
	left: 23rem;
	z-index: 10;
}

.marker-info {
	position: absolute;
	bottom: 4rem;
	left: 23rem;
	z-index: 10;
}
